<div class="window home_page">
    <div class="name">
        <h1>FundWise -</h1>
        <h2>Financial portfolio management</h2>
    </div>
    <img class="fpm" src="https://wpcdn.us-midwest-1.vip.tn-cloud.net/www.cobizmag.com/content/uploads/2020/05/Tips-for-managing-your-financial-portfolio-in-times-of-uncertainty.jpg" alt="Finance Management" />
    <div class="info">
        <h4><b>FundWise</b> - bu moliyaviy islohotlar va investitsiya strategiyalari boshqaruv tizimi. Bu tizim, shaxslar va kompaniyalar uchun moliyaviy aktivlarni boshqarish, investitsiyalarni tashkil qilish, portfellar yaratish, moliyaviy xavfsizlikni ta'minlash va o'z foydalanuvchilarining moliyaviy o'zaro aloqalarini boshqarishda yordam beradi.</h4>
        <hr>
        <h5>Tizimda qo'shma tashkilotlar, shaxslar va kompaniyalar o'z moliyaviy portfellari va investitsiya strategiyalarini boshqarish uchun imkoniyatlar topadilar. Bu tizim foydalanuvchilarga quydagi imkoniyatlarni taqdim etadi:</h5>

        <ul>
            <li>
                <h6>
                    <b>Moliyaviy Portfellar Yaratish va Boshqarish:</b> Tizimda foydalanuvchilar o'zlarining moliyaviy portfellari bo'lishi mumkin. Har bir portfelga turli xil aktivlar qo'shilishi mumkin va ularga aloqador ma'lumotlar kiritish mumkin.
                </h6>
            </li>
            <li>
                <h6>
                    <b>Investitsiya Strategiyalarini Boshqarish:</b> Foydalanuvchilar investitsiya strategiyalari yaratish, tahrirlash va boshqarish imkoniyatiga ega bo'lishadi. Strategiyalar moliyaviy maqsadlarni va risklarni belgilashda yordam beradi.
                </h6>
            </li>
            <li>
                <h6>
                    <b>Transaktsiyalar va Amallar Boshqarish:</b> Tizim foydalanuvchilarga transaktsiyalar va amallar boshqarish imkoniyati beradi. Bu orqali foydalanuvchilar moliyaviy aktivlarni sotib olish yoki sotish, moliyaviy operatsiyalarni boshqarishlari mumkin.
                </h6>
            </li>
            <li>
                <h6>
                    <b>Moliyaviy Ma'lumotlarni Kuzatish:</b> Tizimda moliyaviy statistika, bozor indekslari, valyuta kurslari, kredit stavkalari va boshqa ma'lumotlar kuzatish uchun imkoniyatlar mavjud.
                </h6>
            </li>
            <li>
                <h6>
                    <b>Investitsiya An'analar va Qoidalar:</b> Tizim foydalanuvchilariga investitsiya sohalari bo'yicha an'analar, ma'lumotlar va qoidalar taqdim etadi.
                </h6>
            </li>
            <li>
                <h6>
                    <b>Foydalanuvchi Boshqaruv Paneli:</b> Har bir foydalanuvchi o'zining portfelini, aktivlarini, investitsiya strategiyalarini va moliyaviy ma'lumotlarni boshqarish uchun shaxsiy boshqaruv paneliga ega bo'ladi.
                </h6>
            </li>
            <li>
                <h6>
                    <b>Moliyaviy Analiz va Prognozlash:</b> Tizim foydalanuvchilariga moliyaviy analizlar, statistikalar va moliyaviy harakatlarni batafsil ko'rish va prognozlash imkoniyati beradi.
                </h6>
            </li>
        </ul>
        <hr>
        <h5>
            Tizimning maqsadi foydalanuvchilarni moliyaviy aktivlarini, investitsiya strategiyalarini va moliyaviy ma'lumotlarni boshqarishda yordam berish va ularning moliyaviy natijalarini yaxshi amalga oshirishga yordam berishdir. Bu tizim shaxsiy moliyaviy o'zaro aloqalarini yaxshi boshqarish, investitsiya variantlarini o'rganish va moliyaviy nazoratni oshirish uchun qulay imkoniyatlarni taqdim etadi.
        </h5>
    </div>
</div>
