@using FundWise.Domain.Entities;
@model User

<div class="window">
    <form asp-controller="Users" asp-action="Create" method="post">
        <div class="col">

        </div>
        <div class="col">
        </div>
    </form>

</div>