@using FundWise.Domain.Entities;
@model User

<h1>Create</h1>

<div class="container">
    <form asp-controller="Users" asp-action="Create" method="post">
        <div class="row">
            <div class="col">

                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" type="text">
            </div>
            <div class="col">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" type="email">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" type="text">
            </div>
            <div class="col">

                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control" type="tel">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="DateOfBirth"></label>
                <input asp-for="DateOfBirth" class="form-control" type="date">
            </div>


            <div class="col">

                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" type="password">
            </div>
        </div>
        <button>Back</button>
        <button>Save</button>
    </form>
</div>
